<a href="https://colab.research.google.com/github/vabhishekprakash/Entrance-Test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

uploaded = files.upload()

Saving restaurants.sql to restaurants.sql
Saving users.json to users.json
Saving orders.csv to orders.csv

In [2]:
!ls

orders.csv  restaurants.sql  sample_data  users.json

In [3]:
import pandas as pd
import sqlite3

In [4]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [5]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [6]:

conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()

with open("restaurants.sql", encoding="utf-8") as f:
    sql_data = f.read()

cursor.executescript(sql_data)
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [7]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

orders_users.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular

In [8]:
final_data = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

final_data.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [9]:
final_data.to_csv("final_food_delivery_dataset.csv", index=False)

print("Final file created!")

Final file created!

In [10]:
df = final_data.copy()

df['order_date'] = pd.to_datetime(df['order_date'], format="%d-%m-%Y")

In [14]:
#Q1

df[df['membership']=="Gold"] \
.groupby('city')['total_amount'] \
.sum() \
.sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [15]:
#Q2

df.groupby('cuisine')['total_amount'] \
.mean() \
.sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [16]:
#Q3
user_total = df.groupby('user_id')['total_amount'].sum()

(user_total > 1000).sum()

np.int64(2544)

In [19]:
#Q4
def rating_range(r):
    if 3.0 <= r <= 3.5: return "3.0-3.5"
    if 3.6 <= r <= 4.0: return "3.6-4.0"
    if 4.1 <= r <= 4.5: return "4.1-4.5"
    if 4.6 <= r <= 5.0: return "4.6-5.0"

df['rating_range'] = df['rating'].apply(rating_range)
df.groupby('rating_range')['total_amount'] \
.sum() \
.sort_values(ascending=False)

rating_range
4.6-5.0    2197030.75
3.0-3.5    2136772.70
4.1-4.5    1960326.26
3.6-4.0    1717494.41
Name: total_amount, dtype: float64

In [18]:
#Q5
df[df['membership']=="Gold"] \
.groupby('city')['total_amount'] \
.mean() \
.sort_values(ascending=False)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [21]:
#Q6
df.groupby('cuisine')['restaurant_id'].nunique()
df.groupby('cuisine')['total_amount'].sum()

cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [22]:
#Q7
gold = df[df['membership']=="Gold"].shape[0]
total = df.shape[0]

round((gold/total)*100)

50

In [23]:
#Q8
stats = df.groupby('restaurant_name_y').agg(
    avg=('total_amount','mean'),
    count=('order_id','count')
)

stats[stats['count']<20] \
.sort_values('avg', ascending=False)

                           avg  count
restaurant_name_y
Restaurant_294     1040.222308     13
Restaurant_262     1029.473333     18
Restaurant_77      1029.180833     12
Restaurant_193     1026.306667     15
Restaurant_7       1002.140625     16
...                        ...    ...
Restaurant_184      621.828947     19
Restaurant_498      596.815556     18
Restaurant_192      589.972857     14
Restaurant_329      578.578667     15
Restaurant_300      572.686471     17

[241 rows x 2 columns]

In [24]:
#Q9
df.groupby(['membership','cuisine'])['total_amount'] \
.sum() \
.sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [25]:
#Q10
df['quarter'] = df['order_date'].dt.to_period('Q')
df.groupby('quarter')['total_amount'] \
.sum() \
.sort_values(ascending=False)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [29]:
#Q11
df[df['membership']=="Gold"].shape[0]

4987

In [30]:
#Q12
round(df[df['city']=="Hyderabad"]['total_amount'].sum())

1889367

In [31]:
#Q13
df['user_id'].nunique()

2883

In [32]:
#Q14
round(df[df['membership']=="Gold"]['total_amount'].mean(), 2)

np.float64(797.15)

In [33]:
#Q15
df[df['rating']>=4.5].shape[0]

3374

In [35]:
#Q16
df[df['membership']=="Gold"] \
.groupby('city')['total_amount'] \
.sum() \
.sort_values(ascending=False)
df[(df['membership']=="Gold") & (df['city']=="Chennai")].shape[0]

1337

In [36]:
#Q17
orders.columns, users.columns

(Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
        'restaurant_name'],
       dtype='object'),
 Index(['user_id', 'name', 'city', 'membership'], dtype='object'))

In [37]:
#Q18
import os

os.listdir()

['.config',
 'final_food_delivery_dataset.csv',
 'orders.csv',
 'restaurants.db',
 'users.json',
 'restaurants.sql',
 'sample_data']

In [38]:
#Q19
df.shape[0]

10000

In [39]:
#Q19
df['name'].isnull().sum()

np.int64(0)

In [40]:
#Q20
pd.merge(orders, users, on="user_id", how="left")

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular
...,...,...,...,...,...,...,...,...,...
9995,9996,2528,249,21-05-2023,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold
9996,9997,2867,267,06-08-2023,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular
9997,9998,522,420,11-11-2023,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold
9998,9999,319,492,08-09-2023,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold
9999,10000,457,439,21-10-2023,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular

In [41]:
#Q21
users.columns

Index(['user_id', 'name', 'city', 'membership'], dtype='object')

In [42]:
#Q22
orders.columns, restaurants.columns

(Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
        'restaurant_name'],
       dtype='object'),
 Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object'))

In [43]:
#Q23
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range', 'quarter'],
      dtype='object')

In [44]:
#Q24
df['user_id'].value_counts().head()

user_id
2973    13
1515    12
874     11
496     11
1337    11
Name: count, dtype: int64